@import "styles/variables.scss";
@import "styles/_breakpoints.scss";
  
  .foodMenu {
    &__filters {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;
    }
  }